body {
  background-color: #efefef;
}

.wrapper {
  min-height: 100vh;
  background-color: #fff;
  text-align: right;
}

.nav {
  background-color: #efefef;
}

.with-padding {
  padding : 30px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li a {
  text-align: right;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  color: black;
}

.category-icon {
  width: 38px;
  display: flex;
  justify-content: center;
  margin-left: 5px;
}

li a:hover {
  color: red;
}

.category-items {
  display: none;
  font-size: 14px;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.product {
  color: black;
}

.category-picture {
  display: none;
}


.med-product-picture {
  width: 75%;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.text-product {
  color: black;
  font-weight: bold;
}

.products-grid a {
  text-decoration: none;
}

.product-header {
  font-weight: bold;
}

tr.border-bottom td,
th {
  border-bottom: 1px solid #d9d9d9;
  padding: 10px 5px;
}

.product-description {
  text-align: right;
}

.big-product-picture {
  width: 100%;
}

.center-text {
  text-align: center;
}


.category-link {
  font-size: 14px;
}

.product:hover {
  color: black;
  text-decoration: none;
}
